.about {
    max-width: 600px;
    width: 95vw;
    text-align: center;
    margin: 0 auto;
    .body-copy {
        text-align: left;
        margin: 40px 0;
    }
}
.headshot {
    width: 300px;
    height: 300px;
    @extend .image-shadow;
}
