.arrow {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, .8);
    height: 17px;
    width: 17px;
    transform: rotate(45deg);
}
.arrow-right {
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 50%;
    right: 20px;
}
.arrow-left {
    border-width: 0 0 2px 2px;
    position: absolute;
    top: 50%;
    left: 20px;
}
.arrow-left:hover, .arrow-right:hover {
    border-color: rgba(175, 175, 175, .8);
}
