.article-list {
    ul {
        width: 900px;
        max-width: 90%;
        margin: 0 auto 40px;
    }
    h1 {
        font-size: 24px;
        color: $secondary;
        span {
            font-family: $body;
            color: $primary;
            font-size: 14px;
            text-transform: uppercase;
            padding-left: 20px;
            display: inline-block;
            font-style: italic;
        }
    }
    p {
        text-decoration: none;
        color: white;
    }
    li {
        padding: 40px;
        transition: background .15s ease;
        cursor: pointer;
        &:hover {
            background: #2B2B2B;
            box-shadow: 0 0 1em #2B2B2B;
        }
    }
    header {
        width: 900px;
        max-width: 90%;
        margin: 40px auto 0;
        background: inherit;
        padding: 0 40px 20px;
        border-bottom: 2px solid $primary;
        display: block;
        &::before {
            content: none;
        }
        p {
            font-size: 14px;
            font-style: italic;
            color: #eeeeee;
        }
    }
    h2 {
        font-family: $heading;
        color: $primary; 
        font-size: 18px;
        text-transform: uppercase;
        padding-bottom: 5px;
        padding-left: 0;
    }
}