.contain-garment-view {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.back {
    font-family: $body;
    font-size: 14px;
    margin-left: 70px;
    margin-top: 40px;
    a {
        color: rgba(175, 175, 175, .8);
        &:hover {
            color: black;
        }
    }
}

.garmet-views {
    float: left;
    width: 50%;
    img.dress {
        width: 100%;
        padding-top: 20px;
        &:last-of-type {
            padding-bottom: 40px;
        }
    }
}

.garmet-description {
    width: 40vw;
    max-width: 850px;
    padding: 20px 0px 20px 0;
    float: left;
    line-height: 1.5;
    h2 {
        margin-bottom: 15px;
    }
    .main-details {
        margin-bottom: 20px;
    }
    p.quick-details {
        font-size: 16px;
        padding: 2.5px;
    }

    .details.jsOff {
        .acc-section {
            display: block;
        }
    }
    .details {
        overflow: hidden;

        .acc-section {
            display: none;
            &.open {
                display: block;
            }
        }
    }

    
    table {
        font-family: $body;
        font-size: 13px;
        margin: 0 0 23px 20px;
        width: 100%;
        table-layout: fixed;
        td:nth-child(1) {
            width: 160px;
            font-weight: 300;
            padding: 3px 6px 4px 0;
        }
        tr.indent {
            td:nth-child(1) {
                width: 160px;
                font-weight: 300;
                padding: 3px 0 3px 20px;
            }
        }
    }
    .table-heading {
        font-size: 14px;
        margin-bottom: 0;
        width: 100%;
        // transition: all 300ms;
        cursor: pointer;
        margin: 0 0 12px 0;

        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: rgba(175, 175, 175, .8);
            margin: 0 0 12px 0;
        }
        &::after {
            content: "+";
            font-size: 15px;
            float: right;
            padding: 0 12px;
        }
        &.open::after {
            content: "—";
        }
    }
    p.tags {
        font-style: italic;
        color: #969696;
        padding: 0 0 50px;
        &::before {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: rgba(175, 175, 175, .8);
            margin: 0 0 55px 0;
        }
    }
}


    
.dress-view {
    padding-bottom: 17px;
    li:hover {
        border: 1px solid rgba(175, 175, 175, .8);
        transform: all 300ms;
    }
    .dress-text {
        font-family: $body;
        font-weight: bold;
        font-size: 12px;
        letter-spacing: .045em;
        text-decoration: none;
        color: black;
    }
    img {
        vertical-align: middle;
        height: 50px;
        top: -2px;
        padding-right: 10px;
    }
    li {
        padding: 8px;
        display: inline-block;
        border: 1px solid white;
        &:nth-child(1) {
            padding-right: 36px;
        }
        &:hover {
            border: 1px solid black;
            transform: all 300ms;
        }
    }
}


.social {
    margin-bottom: 23px;
    li {
        display: inline-block;
        padding: 3px 9px;
        border: 1px solid rgba(175, 175, 175, .8);
        &:hover {
            border: 1px solid black;
            transform: all 300ms;
        }
    }
    img {
        vertical-align: middle;
        height: 18px;
        position: relative;
        top: -2px;
        padding-right: 6px;
    }
    .social-share {
        font-family: $body;
        font-size: 12px;
        letter-spacing: .045em;
        text-decoration: none;
        color: black; 
    }
}


