.project {
    .heading_secondary,
    .heading_tertiary {
        margin-top: 40px;
    }
    .body-copy {
        margin-bottom: 15px;
    }
    .links-group {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        > * {
            flex: 1;
            margin: 0 10px;
        }
    }
    img {
        width: 100%;
        @extend .image-shadow;
    }
}
