.quickview {
    width: 85vw;
    max-width: 850px;
    padding: 20px 42px 20px 0;
    overflow: hidden;
    position: relative;
    background-color: white;
    img {
        width: 40%;
        padding: 20px;
        float: left;
    }
    .close-button {
        // other styling in filter.scss
        top: 20px;
        right: 20px;
    }
    .info {
        h2 {
            padding: 70px 0 20px;
        }
        p.details {
            font-size: 14px;
            padding: 2.5px;
        }
        p.tags {
            font-style: italic;
            color: #666666;
            padding: 20px 0 60px;
            &::before {
                content: "tags:";
                padding-right: 5px;
            }
        }
        a.view-details {
            font-style: italic;
            font-family: $body;
            font-size: 12px;
            &:hover {
                color: rgba(175, 175, 175, .8);
                transition: all 200ms;
            }
        }
    }
}


.list-view {
    .quickview {
        margin: 0 auto;
        position: relative;
        .close-button {
            display: none;
        }


        &::before {
            content: "";
            position: absolute;
            display: block;
            top: 45%;
            left: 10px;
            border: 1px solid rgba(204, 204, 204, .8);
            border-width: 0 0 2px 2px;
            height: 17px;
            width: 17px;
            transform: rotate(45deg);
        }
        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 45%;
            right: 10px;
            border: 1px solid rgba(204, 204, 204, .8);
            border-width: 2px 2px 0 0;
            height: 17px;
            width: 17px;
            transform: rotate(45deg);
        }
    }
}

.grid-view {
    .quickview {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 1;
    }
    &.quickview-open {
        .quickview {
            display: block;
        }
        &::after {
            content: "";
            position: fixed;
            width: 100%;
            top: 82px;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .50);
        }
    }
}