/* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */

@keyframes ChangingPurpleTextColor {
    0% {
        color: #4b0e8d;
    }
    33% {
        color: #1c1c55;
    }
    66% {
        color: #791ddc;
    }
    100% {
        color: #4b0e8d;
    }
}

@keyframes ChangingPurpleBorder {
    0% {
        border: 20px solid #4b0e8d;
    }
    33% {
        border: 20px solid #1c1c55;
    }
    66% {
        border: 20px solid #791ddc;
    }
    100% {
        border: 20px solid #4b0e8d;
    }
}

@keyframes ChangingPurpleBackground {
    0% {
        background-color: #4b0e8d;
    }
    33% {
        background-color: #1c1c55;
    }
    66% {
        background-color: #791ddc;
    }
    100% {
        background-color: #4b0e8d;
    }
}


@keyframes TealTextColor {
    0% {
        color: #77d1c3;
    }
    33% {
        color: #5ed6c4;
    }
    66% {
        color: #92d4c9;
    }
    100% {
        color: #77d1c3;
    }
}

@keyframes ChangingTealBackground {
    0% {
        background-color: #77d1c3;
    }
    33% {
        background-color: #5ed6c4;
    }
    66% {
        background-color: #92d4c9;
    }
    100% {
        background-color: #77d1c3;
    }
}



.color-changing-border {
    animation: ChangingPurpleBorder 40s ease infinite;
}
