<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Design Elements | JOUR 234 Blog</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="blog-post">
    <header class="blog-post-header">
        <h1 id="home">Kelli Reutman</h1>
        <h2>Front-end Web</h2>
        <ul>
            <li><a href="../index.html">About</a></li>
            <li><a href="../assets/resume.pdf" target="_blank">Resume<img src="../assets/images/link.png" alt=""></a></li>
            <li><a href="jour234blog.html">JOUR 234 Blog</a></li>
        </ul>
    </header>

    <article class="blog-post-content">
        <h3>09.28.17</h3>
        <h1>Design Elements</h1>
        <h2>Collection of projects showcasing six design elements.</h2>
        <main>
            <h4>Direction</h4>
            <img src="../assets/images/design-elements/direction.jpg" alt="">
            <p>Direction is important in design because the designer need to guide the viewers eye to the most important information. In this advertisement, the direction goes to the title of the event “Guimaraes Jazz.” This is because all the words are along lines that go toward the bottom and because his eyes are looking downward. After recognizing the main title, the eye then follows the text under it to the right and then circle back around again.</p>

            <h4>Space</h4>
            <img src="../assets/images/design-elements/space.jpg" alt="">
            <p>This advertisement uses a lot of space in order to emphasize their point. All the emptiness immediately makes the viewer compare the two main images – a grenade and an artichoke. This hopefully gets the viewer interested so they will read the rest of the text. The other information is purposefully spaced out and only along the two sides to keep the contrast between the two items noticeable.</p>

            <h4>Line</h4>
            <img src="../assets/images/design-elements/line.jpg" alt="">
            <p>This advertisement is from an old Audi commercial. They use line to draw blueprint-type illustrations of different human body parts. Here, we can see an eye and part of an eyebrow, but there also seems to be extra things that look more like car parts. The detail and precision of the lines reminds consumers of the care Audi puts into manufacturing their cars.</p>

            <h4>Shape</h4>
            <img src="../assets/images/design-elements/shape.jpg" alt="">
            <p>Even though this is using letters to spell the word “void,” at first glance they look more like shapes. The red box going around the outside serves as a border and a way to contain the design. The individual letters are nothing more than boxes and curves placed in a way to make letters. Because the letters are hollow, the red border is able to go “through” them and break the dimensional plane, which adds another element of interest.</p>

            <h4>Value</h4>
            <img src="../assets/images/design-elements/value.jpg" alt="">
            <p>In this HP ad, color theory is utilized to indicate to the viewer that it is something about the environment before they read any of the body copy. All the illustrations use different shades of green and depict scenes from the environment. The printer is in all blue shades, which matches the HP logo and branding. This print is one of a series HP used to share their brand values with their consumers, all utilizing different color schemes.</p>

            <h4>Texture</h4>
            <img src="../assets/images/design-elements/texture.jpg" alt="">
            <p>This ad for a Nike shoe uses texture as well as color. For me, the shoe print is reminiscent of running on pavement. Because the texture is rough, it tells the interested consumer that the shoe is probably durable. The designer also put some paint splatters in the bottom to keep the design from looking clean-cut on a completely black background.</p>

        </main>
    </article>

</body>

</html>