<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Design Principles | JOUR 234 Blog</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body class="blog-post">
    <header class="blog-post-header">
        <h1 id="home">Kelli Reutman</h1>
        <h2>Front-end Web</h2>
        <ul>
            <li><a href="../index.html">About</a></li>
            <li><a href="../assets/resume.pdf" target="_blank">Resume<img src="../assets/images/link.png" alt=""></a></li>
            <li><a href="jour234blog.html">JOUR 234 Blog</a></li>
        </ul>
    </header>

    <article class="blog-post-content">
        <h3>09.17.17</h3>
        <h1>Design Principles</h1>
        <h2>Collection of projects showcasing each design principle.</h2>
        <main>
            <h4>Balance</h4>
            <img src="../assets/images/design-princples/balance.jpg" alt="">
            <p>This magazine page is an example of informal balance. The bottom left-hand corner caries most of the visual weight because of the headshot and large, black heading. It is balanced by the secondary heading and snow texture on the rest of the page. The texture not only gives visual interest, it also carries more weight than plain white. Since the words and goggles are area all very close together, they feel like one element that helps balance the main heading.</p>
            
            <h4>Proportion</h4>
            <img src="../assets/images/design-princples/proportion.jpg" alt="">
            <p>The heading “Is Credit Now King?” is clearly the most important thing on this page because it’s so large. The designer also made “credit” and “king” larger than “is” and “now” to share the topic of the article even quicker. Within the rest of the main article design, readers are able to find the beginning quickly because the drop cap of the “s,” and they can quickly see the dollar amount in the bottom left is important. On the rest of the page, “Saving Money” is prominent because it is the second largest heading. Then, the reader will see the title “Coupon book offers restaurant savings” and know it is the next important thing.</p>

            <h4>Contrast</h4>
            <img src="../assets/images/design-princples/contrast.jpg" alt="">
            <p>The designer for this front page used the contrast of black and off-white to indicate the difference between life and death. He or she used the colors opposite of we normally expect. I think this was an interesting decision that definitely entices me to read the article.</p>

            <h4>Harmony</h4>
            <img src="../assets/images/design-princples/harmony.jpg" alt="">
            <p>This magazine utilizes the same color scheme and typeface throughout all the pages, which creates a very harmonious design. The same orange appears on every page, always with a lot of black and some gray. The illustration styles stay consistent throughout. All headings use the same condensed sans-serif font and body copy is all the same font size. By keeping the design elements the same, the reader will subconsciously know the story is being continued from page to page.</p>

            <h4>Focus</h4>
            <img src="../assets/images/design-princples/focus.jpg" alt="">
            <p>The heading “Roosevelt” is clearly the focus of this layout. The designer chose to make it really large and use an eye-popping color to draw attention to it. Because the last name Roosevelt is so recognizeable to Americans, it was unnecessary to use more words or come up with something catchy; the design is able to draw attention to the story on its own.</p>
            
            <h4>Rhythm</h4>
            <img src="../assets/images/design-princples/rhythm.jpg" alt="">
            <p>Rhythm is utilized here to symbolize the connection of the original soccer ball to the current one. Because there is a very thin line between each ball, the eye knows which way to follow the rhythm in order to get from beginning to end. Each caption also follows the rhythm of gold header, bold dates, and short body copy to keep consistency.</p>

            <h4>Unity</h4>
            <img src="../assets/images/design-princples/unity.jpg" alt="">
            <p>This infographic is a great example of unity. From a bird’s-eye view, a reader can easily pick out the colors being repeated all the way down. There are also fat lines that make connections and provide breaks in the design. The illustration style and slab-serif font stays the same throughout. If sections of this graphic were taken out, a reader would be able to match it back with the graphic because everything is so unified.</p>
        
        </main>
    </article>

</body>
</html>