@import url(https://fonts.googleapis.com/css?family=Montserrat|Muli:300,400,400i,700|Ubuntu:300,500);

$body: 'Muli', sans-serif;
$body-bold: 'Muli', sans-serif;
$heading: 'Montserrat', sans-serif;
$logo: "Ubuntu", sans-serif;


