.project {
    .heading_secondary,
    .heading_tertiary {
        margin-top: 40px;
    }
    .body-copy {
        margin-bottom: 15px;
    }
    .no-margin {
        margin: 0;
    }
    .statistics {
        margin: -10px 0 15px 15px;
        li {
            list-style: circle inside;
        }
    }
    .links-group {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        margin-top: 30px;
        > * {
            width: 100%;
            margin: 0 10px 10px;
        }
    }
    .store-buttons {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        li {
            width: 50%;
            height: auto;
            padding: 3px;
            max-width: 150px;
        }
        a {
            border: none;
            padding: 0;
            background: transparent;
        }
    }
    img {
        width: 100%;
        @extend .image-shadow;
        &.mobile-mockup {
            width: auto;
            margin: 0 auto;
            max-height: 80vh;
        }
    }
    .flex {
        display: flex;
        justify-content: space-around;
        div {
            flex-basis: 50%;
        }
        div:first-child {
            padding-right: 20px;
        }
        div:nth-of-type(2) {
            padding-left: 20px;
        }
        img {
            box-shadow: unset;
        }
        @media (max-width: 450px) {
            flex-wrap: wrap;
            div:first-child {
                padding-right: 0;
            }
        }
        &.mobile-web-mockups {
            img {
                @extend .image-shadow;
            }
        }
    }
}
