/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Mukta', sans-serif;
  font-weight: 300;
  color: #4a4a4a;
  font-size: 18px;
}

.heading_primary {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1;
}

.heading_primary.color-changing {
  -webkit-animation: ColorChangingPurple 40s ease infinite;
          animation: ColorChangingPurple 40s ease infinite;
}

.heading_secondary {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
}

.heading_tertiary {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5px;
  color: #979797;
}

.body-copy, ul, .more-coming {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 300;
}

span.bold,
a.bold {
  font-weight: 700;
}

.primary-button {
  border: 2px solid #4a4a4a;
  border-radius: 40px;
  padding: 0.2em 1.1em 0.1em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: #f0f0f0;
}

.primary-button:hover {
  color: #41a193;
  border-color: #41a193;
  background: #eaf7f5;
}

.inline-link {
  text-decoration: none;
}

.inline-link:hover {
  text-decoration: underline;
}

.image-shadow, .project img, .headshot {
  -webkit-box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.44);
          box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.44);
}

/* @keyframes duration | timing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
@-webkit-keyframes BackgroundGradientAnimation {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}
@keyframes BackgroundGradientAnimation {
  0% {
    background-position: 0% 46%;
  }
  50% {
    background-position: 100% 55%;
  }
  100% {
    background-position: 0% 46%;
  }
}

@-webkit-keyframes ColorChangingPurple {
  0% {
    color: #4b0e8d;
  }
  33% {
    color: #13133d;
  }
  66% {
    color: #791ddc;
  }
  100% {
    color: #4b0e8d;
  }
}

@keyframes ColorChangingPurple {
  0% {
    color: #4b0e8d;
  }
  33% {
    color: #13133d;
  }
  66% {
    color: #791ddc;
  }
  100% {
    color: #4b0e8d;
  }
}

@-webkit-keyframes ColorChangingTeal {
  0% {
    color: #a1d1c9;
  }
  25% {
    color: #77d1c3;
  }
  50% {
    color: #41a193;
  }
  75% {
    color: #076053;
  }
  100% {
    color: #a1d1c9;
  }
}

@keyframes ColorChangingTeal {
  0% {
    color: #a1d1c9;
  }
  25% {
    color: #77d1c3;
  }
  50% {
    color: #41a193;
  }
  75% {
    color: #076053;
  }
  100% {
    color: #a1d1c9;
  }
}

@-webkit-keyframes rotateTextColor {
  0% {
    color: #5e34ca;
  }
  33% {
    color: #4cd362;
  }
  66% {
    color: #c62d93;
  }
  100% {
    color: #5e34ca;
  }
}

@keyframes rotateTextColor {
  0% {
    color: #5e34ca;
  }
  33% {
    color: #4cd362;
  }
  66% {
    color: #c62d93;
  }
  100% {
    color: #5e34ca;
  }
}

@-webkit-keyframes rotateBackgroundColor {
  0% {
    background-color: #5e34ca;
  }
  33% {
    background-color: #4cd362;
  }
  66% {
    background-color: #c62d93;
  }
  100% {
    background-color: #5e34ca;
  }
}

@keyframes rotateBackgroundColor {
  0% {
    background-color: #5e34ca;
  }
  33% {
    background-color: #4cd362;
  }
  66% {
    background-color: #c62d93;
  }
  100% {
    background-color: #5e34ca;
  }
}

.color-changing-border {
  background: linear-gradient(309deg, #4b0e8d, #13133d, #791ddc, #06dfd9);
  background-size: 800% 800%;
  -webkit-animation: BackgroundGradientAnimation 47s ease infinite;
  animation: BackgroundGradientAnimation 40s ease infinite;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  padding: 1vw;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 80px;
  font-size: 20px;
}

header h1 {
  font-family: 'Mukta', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  cursor: default;
}

header h1 .tagline {
  font-weight: 300;
}

header h1 .bar {
  font-size: 1.15em;
  font-weight: 300;
}

header li {
  display: inline-block;
  margin: 0 5px;
}

header #instagram svg,
header #linkedin svg {
  width: 18px;
  height: 18px;
  fill: #4a4a4a;
  -webkit-transition: fill 0.2s ease-out, -webkit-transform 0.2s ease-in;
  transition: fill 0.2s ease-out, -webkit-transform 0.2s ease-in;
  transition: fill 0.2s ease-out, transform 0.2s ease-in;
  transition: fill 0.2s ease-out, transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

header #instagram:hover svg,
header #linkedin:hover svg {
  fill: #41a193;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background: #f0f0f0;
  width: 100%;
  padding: 1.5em 40px;
}

footer p {
  color: #a4a4a4;
}

.body-white {
  background: white;
  margin: 0.5em;
}

main {
  margin-bottom: 60px;
}

body.flex-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}

body.flex-body footer {
  margin-top: auto;
}

.home,
main.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1300px;
  margin: 0 auto 60px;
}

.home .column1,
main.project .column1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  padding: 0 3vw;
}

.home .column2,
main.project .column2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1;
          flex: 2 1;
  padding: 0 3vw;
}

@media (max-width: 700px) {
  .home,
  main.project {
    display: block;
  }
  .home .column1,
  main.project .column1 {
    width: 100%;
  }
  .home .column2,
  main.project .column2 {
    width: 100%;
  }
}

.connect-links li {
  padding: 5px 2px;
}

.connect-links a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.connect-links a:hover {
  text-decoration: underline;
  color: #41a193;
}

.project-list {
  margin-bottom: 50px;
}

.project-list .project-title {
  margin-bottom: 5px;
}

.project-list .project-image {
  width: 100%;
  height: auto;
}

.project-list .project-link {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.project-list .project_container {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-list .project_container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.project-list .project_container:hover .project-title,
.project-list .project_container:hover .project-link {
  color: #41a193;
}

@media (min-width: 1000px) {
  .project-list .project_container:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

.project-list .project-link {
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  -webkit-animation: ColorChangingTeal 20s ease infinite;
          animation: ColorChangingTeal 20s ease infinite;
}

.see-more {
  text-align: center;
}

.more-coming {
  text-align: center;
  font-size: 14px;
  line-height: 1;
  margin-top: 10px;
}

.project .heading_secondary,
.project .heading_tertiary {
  margin-top: 40px;
}

.project .body-copy, .project ul, .project .more-coming {
  margin-bottom: 15px;
}

.project .links-group {
  margin-top: 30px;
}

.project .links-group > * {
  width: 100%;
  margin: 0 10px 10px;
}

.project .store-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.project .store-buttons li {
  width: 50%;
  height: auto;
  padding: 3px;
  max-width: 150px;
}

.project .store-buttons a {
  border: none;
  padding: 0;
  background: transparent;
}

.project img {
  width: 100%;
}

.project img.mobile-mockup {
  width: auto;
  margin: 0 auto;
  max-height: 80vh;
}

.project .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project .flex div:first-child {
  padding-right: 20px;
}

.project .flex img {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

@media (max-width: 450px) {
  .project .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .project .flex div:first-child {
    padding-right: 0;
  }
}

.about {
  max-width: 600px;
  width: 95vw;
  text-align: center;
  margin: 0 auto 60px;
}

.about .body-copy, .about ul, .about .more-coming {
  text-align: left;
  margin: 40px 0;
}

.headshot {
  width: 250px;
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
/*# sourceMappingURL=style.css.map */